.jumbotron {
  padding-top: 6rem;
  /* background-color: #e2edff; */
  background-color: var(--bs-body-bg);
}

.profil {
  border-radius: 40%;
}

.pindah {
  padding-top: 4rem;
}

/* nav a {
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: #0ef;
} */

/* section:nth-child(odd) {
  background: #14b8a6;
} */
